<table id="container">
    <link rel="stylesheet" href="../styles/main.css">
    <!--Titulo-->
    <caption> Clasificacion de lenguajes </caption>
    <thead>
        <!--Cabecera de la tabla-->
        <tr><!--FIla-->
            <th>Tipos </th>

            <th>Diseño web </th>
        </tr>
    </thead>
    <tbody id="background"><!--Cuerpo de la Tabla-->
        <tr>
            <th>Back-End</th>
            <td>Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro, ducimus. Magni distinctio quidem a perferendis cupiditate voluptatibus obcaecati eius, corporis nostrum, nobis exercitationem minus accusamus id sunt reiciendis dolor nam?
            Iste minus deleniti, sint in aut cupiditate fugiat cum error officia modi repudiandae culpa optio dolorum placeat perferendis delectus? Ad eum, dolorum officiis fugit corporis earum nostrum culpa dolorem eligendi.</td>
        </tr>
        <tr>
            <th>Front-End</th>
            <td>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor accusantium eligendi soluta laudantium, error velit ex est rerum enim excepturi aliquid voluptas deserunt nobis aut laborum nostrum possimus autem quidem?
            Atque labore enim quam, quisquam reprehenderit molestias obcaecati corrupti hic mollitia doloribus debitis saepe unde exercitationem sequi, illum et cumque? Tenetur, molestiae! Odio laborum ex itaque praesentium blanditiis omnis? Esse?</td>
        </tr>
        
    </tbody>
</table>
<hr>
<h3 id="tento">Contactanos</h3>
<footer id="footer">
    <label for="name">introduzca su nombre</label>
        <input type="text" id="name" name="name" value=" " placeholder="introduzca su nombre" min="3" maxlength="50" 
        pattern="[a-zA-Z]{3-20}" title="Se admiten solo letras" autocomplete="off" required/>
        <br><br>
        <label >edad</label>
        <input type="number" min="1" max="99" id="age"> <br>
        <label for="mail">correo electronico</label>
        <input type="email" name="mail" id="mail" placeholder="email">
        <br><br>
        <label for="pss">contraseña</label>
        <input type="password" id="pss"><br><br>
</select>
<label for="Condiciones">Acepta Terminos y Condiciones de privacidad?</label>
<input type="checkbox" id="condiciones"><br><br>
<button type="submit" id="Enviar">Enviar Datos</button>
<button type="reset" id="Borrar">Borrar</button>
    </form> 
</footer>
</html>
